h1 {
    text-align: center;
}
body {
    width: max-content;
    max-width: 800px;
}
button {
    background-color: rgb(3, 158, 3);
    color: white;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: large;
    margin: auto;
    display: block;
    border-color: rgb(21, 182, 53);
}
button[disabled] {
    background-color: rgb(144, 213, 138);
    color: white;
    border-radius: 8px;
    width: max-content;
    height: max-content;
    padding: 10px;
    font-size: large;
    margin: auto;
    display: block;
    border-color: rgb(21, 182, 53);
}
p {
    font-size: medium;
}